{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "WEBHOOK_URL": "",
    "HATENA_ID": "",
    "API_KEY": "",
    "END_POINT": "",
    "RANDOM_MESSAGE": ""
  }
}
